[Desktop Entry]
Type=Application
Name=Kodi (GBM)
Comment=End the Bigscreen session and start Kodi on GBM
Exec=/usr/libexec/atomc/atomc-session-select kodi
Icon=kodi
Terminal=false
Categories=AudioVideo;Video;Player;TV;
Keywords=media;center;tv;movies;series;
